In [1]:
import pandas as pd
import numpy as np

In [2]:
df_feb_19 = pd.read_csv("201902-citibike-tripdata.csv")
df_jun_19 = pd.read_csv("201906-citibike-tripdata.csv")

In [3]:
df_feb_19_JC = pd.read_csv("JC-201902-citibike-tripdata.csv")
df_jun_19_JC = pd.read_csv("JC-201906-citibike-tripdata.csv")

In [4]:
df_feb_20 = pd.read_csv("202002-citibike-tripdata.csv")
df_jun_20 = pd.read_csv("202006-citibike-tripdata.csv")

In [5]:
df_feb_20_JC = pd.read_csv("JC-202002-citibike-tripdata.csv")
df_jun_20_JC = pd.read_csv("JC-202006-citibike-tripdata.csv")

In [6]:
df_all = pd.concat([df_feb_19, df_feb_19_JC, df_jun_19, df_jun_19_JC, df_feb_20, df_feb_20_JC, df_jun_20, df_jun_20_JC])

In [7]:
df_all.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [8]:
df_all.shape

(6216095, 15)

In [10]:
df_all["gender"] = df_all["gender"].map(str)
df_all["start station id"] = df_all["start station id"].map(str)
df_all["end station id"] = df_all["end station id"].map(str)
df_all["bikeid"] = df_all["bikeid"].map(str)

In [11]:
df_all.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                      object
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [12]:
df_all.to_csv("df_all.csv")

In [2]:
df_feb_21 = pd.read_csv("202102-citibike-tripdata.csv")
df_mar_21 = pd.read_csv("202103-citibike-tripdata.csv")
df_apr_21 = pd.read_csv("202104-citibike-tripdata.csv")
df_may_21 = pd.read_csv("202105-citibike-tripdata.csv")
df_jun_21 = pd.read_csv("202105-citibike-tripdata.csv")

C:\Users\Corey Anderson\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_feb_21.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [14]:
df_21 = pd.concat([df_feb_21, df_mar_21, df_apr_21, df_may_21, df_jun_21])

In [19]:
df_21.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [28]:
df_21.shape

(9697076, 13)

In [21]:
df_21.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [24]:
df_21.rideable_type.value_counts()

docked_bike      9696658
electric_bike        418
Name: rideable_type, dtype: int64

In [30]:
df_21.to_csv("df_21_union.csv")